/* Labels */

.d-symbol {
    -fx-font-size: 20px;
}
.int-symbol {
    -fx-font-size: 100px;
    -fx-translate-y: -10;
}
.sum-prod-symbol {
    -fx-font-size: 50px;
    -fx-translate-y: -5;
}
.sum-prod-button {
    -fx-font-size: 15px;
}
.bracket {
    -fx-font-size: 120px;
    -fx-translate-y: -10;
}

/* TextFields */

.styled-textfields .text-field {
    -fx-font-size: 20px;
    -fx-font-style: italic;
    -fx-padding: 0;
}
.styled-textfields .order {
    -fx-font-size: 15px;
    -fx-translate-y: -5;
    -fx-font-style: normal;
}
.styled-textfields .limit {
    -fx-font-size: 15px;
}
/* 'For' template only */
.tab-header-background {
    -fx-background-color: transparent
}
